@model Geonorge.MinSide.Infrastructure.Context.ToDo

@{
    ViewData["Title"] = "Oppfølging slett";
}
<div class="container">
    <h2>Oppfølging slett</h2>

    <h3>Er du sikker på at du vil slette?</h3>
    <div>
        <h4>ToDo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Number)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Number)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ResponsibleOrganization)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ResponsibleOrganization)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Deadline)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Deadline)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Done)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Done)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" value="@Context.Request.Query["meetingId"]" name="meetingId" />
            <input type="checkbox" name="sendNotification" value="true" checked /> Send beskjed på epost
            <input type="submit" value="Slett" class="btn btn-default" /> |
            <a href="Index?meetingId=@Context.Request.Query["meetingId"]">Tilbake</a>
        </form>
    </div>
</div>
