@model Geonorge.MinSide.Infrastructure.Context.Meeting
@using Geonorge.MinSide.Utils;
@{
    ViewData["Title"] = "Møte detaljer";
}
<div class="container">
    <h2>Møte detaljer</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrganizationNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrganizationNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    @foreach (var todo in Model.ToDo)
    {


        <div class="col-12">
            <strong>Nr  <span>@todo.Number</span> </strong> - <span>@todo.Description</span>
            <br /> Status: <strong>@(todo.Done.HasValue ? "Utført den " + todo.Done.Value.ToString("dd.MM.yyyy") : "") @todo.Status</strong>
            <div>
                <label class="not-bold">Frist:</label>
                <span><strong>@todo.Deadline.ToString("dd.MM.yyyy")</strong></span>
                <label class="not-bold">Ansvarlig:</label>
                <span><strong>@todo.ResponsibleOrganization</strong></span>

            </div>
        </div>
  


    }
        <div class="col-12">
            @Html.DisplayNameFor(model => model.Conclusion)  @Html.DisplayFor(model => model.Conclusion) 
        </div>
    <div>
        <a asp-action="Edit" class="btn no-margin-bottom show-loading-animation" asp-route-id="@Model.Id">Rediger</a>
        <a asp-action="Index" class="btn no-margin-bottom show-loading-animation">Tilbake</a>
    </div>
</div>