@using Geonorge.MinSide.Services.Authorization;
@inject ApplicationSettings AppSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geonorge.Minside - @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/style/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/style/sharedPartialsBootstrapOverride.css" asp-append-version="true" />
</head>
<body class="geonorge-container prototype geonorge fixed-menu-margin">
    <div id="loading-animation" class="loading-animation" style="display: none;"></div>
    <main-navigation environment="@AppSettings.EnvironmentName.ToLower()" signinurl="@AppSettings.RedirectUri.Replace("logout", "login")"
                     signouturl="@AppSettings.RedirectUri"
                     isLoggedIn="@User.IsAuthenticated().ToString().ToLower()">

    </main-navigation>
    <script>
        var applicationEnvironment = '@AppSettings.EnvironmentName.ToLower()';
        var applicationVersionNumber = '@AppSettings.BuildVersionNumber';
        var authenticationData = { supportsLogin: false, isAuthenticated: false };
        var cultureData = { supportsMultiCulture: "true", currentCulture: 'no' };
    </script>

    @*@await Html.PartialAsync("~/wwwroot/dist/partials/Header.html")*@

    <div class="body-content">
        <div class="main-header">
            <div class="container container-breadcrumbs" id="navTabCont">
                <ul class="breadcrumbs col-md-12">
                    <li><a href="@AppSettings.Urls.GeonorgeRoot">Geonorge</a></li>
                    <li><a href="/">Minside</a></li>
                    @RenderSection("breadcrumb", false)
                </ul>
            </div>
            @if (User.IsAuthenticated())
            {
                <div class="container panel panel-default" style="padding: 40px;">
                    <div id="Tabs" role="tabpanel">
                        <ul class="nav nav-tabs link-tabs" role="tablist">
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")"><a href="~/" role="tab"><i class="far fa-file-alt"></i>Registreringer&nbsp;</a></li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Documents" ? "active" : "")"><a href="~/Documents" role="tab"><i class="fas fa-file-contract"></i>Avtaler&nbsp;</a></li>
                            @if (User.IsInRole(GeonorgeRoles.MetadataAdmin) || User.IsInRole(GeonorgeRoles.MetadataEditor) || User.IsInRole(GeonorgeRoles.ContactPerson))
                            {
                                <li class="@( (ViewContext.RouteData.Values["controller"].ToString() == "Meetings" ) ? "active" : "")"><a href="~/Meetings" role="tab"><i class="fas fa-handshake"></i>Møter&nbsp;</a></li>
                                <li class="@( (ViewContext.RouteData.Values["controller"].ToString() == "ToDo") ? "active" : "")"><a href="~/ToDo?initial=true" role="tab"><i class="fas fa-clipboard-check"></i>Oppfølgingspunkter&nbsp;</a></li>
                            }
                            @if (User.IsInRole(GeonorgeRoles.MetadataAdmin))
                            {
                                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Admin" ? "active" : "")"><a href="~/Admin/Edit" role="tab"><i class="fas fa-cog"></i>Admin</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
        @RenderBody()
    </div>
    <geonorge-footer language="no" version="@AppSettings.BuildVersionNumber" environment="@AppSettings.EnvironmentName.ToLower()" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-shared/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-shared/main.js" asp-append-version="true"></script>

    <script>
        searchOption.epiBaseUrl = '@AppSettings.Urls.GeonorgeRoot';
        searchOption.loginUrl = '@AppSettings.RedirectUri.Replace("logout", "login")';
        searchOption.logoutUrl = '@AppSettings.RedirectUri';
        searchOption.loggedIn = @User.IsAuthenticated().ToString().ToLower();
    </script>

    <script src="~/dist/js/geonorge-base/init.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
        <script src="~/dist/main.js" asp-append-version="true"></script>*@


    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/@("@kartverket/geonorge-web-components@0.1.53/MainNavigation.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/@("@kartverket/geonorge-web-components@0.1.53/GeonorgeFooter.js")"></script>
</body>
</html>
