@using Geonorge.MinSide.Services.Authorization;
@using Geonorge.MinSide.Utils;
@using Microsoft.AspNetCore.Http;
@model IEnumerable<Geonorge.MinSide.Infrastructure.Context.Shortcut>
@{
    ViewData["Title"] = "Mine snarveier";
}
<div class="container">
    <heading-text><h1 underline=“true”>Mine snarveier</h1></heading-text>
    <p></p>
    <div class="list">
        <div class="list-header">
            <div class="row">
                <div class="col-md-3"><a href="?orderby=@ViewBag.orderbyname">Navn</a></div>
                <div class="col-md-6">Url</div>
                <div class="col-md-2"><a href="?orderby=@ViewBag.orderbydate">Dato</a></div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="list-content">
 
                @foreach (var shortcut in Model)
                {
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-3">@shortcut.Name</div>
                        <div class="col-md-6" style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;"><a href="@shortcut.Url" target="_blank"><span>@shortcut.Url</span></a></div>
                            <div class="col-md-2">@shortcut.Date.ToString("dd.MM.yyyy")</div>
                            <div class="col-md-1">
                            <i class="fa fa-trash" style="cursor: pointer" aria-hidden="true" onclick="removeUrl('@shortcut.Url')"></i>
                            </div>
                        </div>
                    </div>
                }
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-3"><input type="text" placeholder="Navn" name="name" /></div>
                            <div class="col-md-8"><input type="text" placeholder="Url" name="url" /></div>
                            <div class="col-md-1">
                                <i class="fa fa-plus" style="cursor: pointer" aria-hidden="true" onclick="addUrl();"></i>
                            </div>
                        </div>
                    </div>
        </div>

    </div>
</div>
<script>

    function removeUrl (url)
    {
    console.log(url);
        const urlApi = '/api/shortcut';
        const token = access_token;
        const data = { url: url };

        const headers = new Headers();
        headers.set('Authorization', 'Bearer ' + token);
        headers.set('Content-Type', 'application/json');

        fetch(urlApi, {
            method: 'DELETE',
            headers: headers,
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
            })
            .then(data => {
                console.log('Success:', data);
                window.location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Kunne ikke slette snarvei');
            });

    }

    function addUrl() 
    { 
       const urlApi = '/api/shortcut';
        const token = access_token;
        const name = document.querySelector('input[name="name"]').value;
        const url = document.querySelector('input[name="url"]').value;

        const data = { name: name, url: url };

        const headers = new Headers();
        headers.set('Authorization', 'Bearer ' + token);
        headers.set('Content-Type', 'application/json');

        fetch(urlApi, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
            })
            .then(data => {
                console.log('Success:', data);
                window.location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Kunne ikke legge til snarvei');
            });}

</script>
