@model Geonorge.MinSide.Infrastructure.Context.Document

@{
    ViewData["Title"] = "Slett avtale";
}
<div class="container">
    <h2>Slett avtale</h2>

    <h3>Er du sikker på at du vil slette avtale?</h3>
    <div>
        <h4>Avtale</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrganizationNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrganizationNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Tilbake</a>
        </form>
    </div>
 </div>
