@using Geonorge.MinSide.Services.Authorization;
@using Microsoft.AspNetCore.Http;
@model DocumentViewModel

@{
    ViewData["Title"] = "Avtaler";
}

<div class="container">
    <h2>Avtaler @Context.Session.GetString("OrganizationName")</h2>
    @if (User.IsInRole(GeonorgeRoles.MetadataAdmin))
    {
        <p>
            <a asp-action="Create">Ny avtale</a>
        </p>
    }
    <div class="row">
        <div class="col-12"><b>Forslag til nye avtaler:</b></div>
    </div>
    <div class="row">
        @foreach (var item in Model.Drafts)
        {
            <div class="col-2">
                <a asp-action="Download" asp-controller="Documents" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </div>
            <div class="col-2">
                @item.Date.ToString("dd.MM.yyyy")
            </div>
            <div class="col-8">
                @if (User.IsInRole(GeonorgeRoles.MetadataAdmin))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Slett</a>
                    </div>
                }
            </div>
        }
    </div>
    <p></p>
    <div class="row">
        <div class="col-12"><b>Mine avtaler:</b></div>
    </div>
    <div class="row">
        @foreach (var item in Model.Valid)
        {
            <div class="col-2">
                <a asp-action="Download" asp-controller="Documents" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </div>
            <div class="col-2">
                @item.Date.ToString("dd.MM.yyyy")
            </div>
            <div class="col-8">
                @if (User.IsInRole(GeonorgeRoles.MetadataAdmin))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Slett</a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12"><a href="https://register.geonorge.no/" target="_blank">Generelle vilkår</a></div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-12"><b>Arkiv:</b></div>
    </div>
    <div class="row">
        @foreach (var item in Model.Superseded)
        {
            <div class="col-2">
                <a asp-action="Download" asp-controller="Documents" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </div>
            <div class="col-2">
                @item.Date.ToString("dd.MM.yyyy")
            </div>
            <div class="col-8">
                @if (User.IsInRole(GeonorgeRoles.MetadataAdmin))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Slett</a>
                    </div>
                }
            </div>
        }
    </div>
</div>
